<%-include('./partials/header') %> 
    <div class="container">
        <%if(posts.length>0){%>
            <%posts.forEach(post=>{%>
                <div class="card shadow">
                    <h2><%-post.title%> </h2>
                    <p><%- post.body%> </p>
                    <p><small><%- post.createdAt %> </small></p>
                    <a href="/posts/<%-post.uuid%>">
                        <button class="btn btn-info">View</button>
                    </a>
                </div>
            <%})%>
            
        <%}else{%>
            <p>No posts</p>
        <%}%>
    </div>
    
<%-include('./partials/footer') %> 